<body class="min-vh-100">

  <div class="container">
    <div class="row">
      <div class="col-12 col-md-10 col-lg-9 mx-auto">

        <div class="btn-group mb-5" role="group" aria-label="Basic radio toggle button group">
          <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off"
            (click)="obterMinhasRequisicoes()">
          <label class="btn btn-outline-primary" for="btnradio1">Minha requisições</label>
  
          <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off"
            (click)="obterRequisicoesDoMeuDepartamento()">
          <label class="btn btn-outline-primary" for="btnradio2">Requisições para meu departamento</label>
  
        </div>

        <div class="text-center text-md-start">
          <h1 class="fw-bold mt-4">Requisições</h1>
        </div>
        <div class="d-grid d-md-block gap-2">
          <button (click)="gravar(modal)" type="button" class="btn btn-light me-md-1 col-md-2 mt-3">
            <i class="pi pi-user-plus me-2"></i>Novo
          </button>
  
          <button role="button" class="btn btn-outline-light me-md-1 col-md-2 mt-3" routerLink="/painel">
            <i class="pi pi-user-plus me-2"></i>Voltar
          </button>
        </div>
  
        <div class="mt-5">
          <table class="table table-light table-striped table-hover ">
            <thead class="thead-dark text-center">
              <tr>
                <th>Abertura</th>
                <th>Departamento</th>
                <th>Descrição</th>
                <th>Equipamento</th>
                <th>Ações</th>
              </tr>
            </thead>
            <tbody class="text-center fs-6">
              <tr *ngFor="let requisicao of (requisicoes$ | async)">                
                <td>{{ requisicao.data }} </td>
                <td>{{ requisicao.departamento?.nome}}</td>
                <td>{{ requisicao.descricao}</td>                
                <td>{{ requisicao.equipamento?.nome}}</td>                                                
                <td class="d-grid d-md-block">
                  <button 
                    (click)="gravar(modal, requisicao)"
                    type="button" class="btn btn-primary me-0 me-md-1 mb-1 mb-md-auto ">
                    <i class=" pi pi-user-edit"></i>
                  </button>
                  <button (click)="excluir(requisicao)" 
                    type="button" 
                    class="btn btn-outline-danger">
                    <i class=" pi pi-trash"></i>
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  
  <ng-template #modal let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title"> {{tituloModal}} de Requisições</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('fechar')"></button>
    </div>
  
    <form [formGroup]="form" (ngSubmit)="modal.close('gravar')">
      <div class="modal-body">
  
        <div formGroupName="requisicao">
          <div class="form-group mb-3 position-relative">
            <label for="data" class="form-label">Data de Abertura</label>
            <input formControlName="data" 
              [ngClass]="(data?.touched && data?.invalid) ? 'is-invalid' : ''"
              class="form-control" 
              type="text"
              placeholder="Digite a Data de Abertura">
              <div class="invalid-tooltip" *ngIf="data?.touched && data?.invalid">
                <span *ngIf="data?.errors?.['required']">A data precisa ser preenchida. </span>
                <span *ngIf="data?.errors?.['minlength']">A data precisa ter no mínimo 3 letras. </span>
              </div>
          </div>
          <div class="form-group mb-3 position-relative">
            <label for="departamentoId" class="form-label">Departamento</label>
            <ng-select formControlName="departamentoId" 
            [ngClass]="(departamentoId?.touched && departamentoId?.invalid) ? 'is-invalid' : ''"
            [clearable]="false" 
            [searchable]="false">
    
              <ng-option           
                *ngFor="let requisicao of (requisicoes$ | async)" 
                [value]="requisicao.id">
                {{ requisicao.departamento?.nome }}
              </ng-option>
            </ng-select>
            <div class="invalid-tooltip" *ngIf="departamentoId?.touched && departamentoId?.invalid">
              <span *ngIf="departamentoId?.errors?.['required']">O departamento precisa ser preenchido. </span>
              <span *ngIf="departamentoId?.errors?.['minlength']">A função precisa ter no mínimo 3 letras. </span>
            </div>
          </div>
        </div>
          <div class="form-group mb-3 position-relative">
            <label for="descricao" class="form-label">Descrição</label>
            <input formControlName="descricao" 
              [ngClass]="(descricao?.touched && descricao?.invalid) ? 'is-invalid' : ''"
              class="form-control" 
              type="text"
              placeholder="Digite a descrição">
              <div class="invalid-tooltip" *ngIf="descricao?.touched && descricao?.invalid">
                <span *ngIf="descricao?.errors?.['required']">A descrição precisa ser preenchida. </span>
                <span *ngIf="descricao?.errors?.['minlength']">A descrição precisa ter no mínimo 3 letras. </span>
              </div>
          </div>  
          <div class="form-group mb-3 position-relative">
            <label for="equipamentoId" class="form-label">Equipamento</label>
            <ng-select formControlName="equipamentoId" 
            [ngClass]="(equipamentoId?.touched && equipamentoId?.invalid) ? 'is-invalid' : ''"
            [clearable]="false" 
            [searchable]="false">
    
              <ng-option           
                *ngFor="let requisicao of (requisicoes$ | async)" 
                [value]="requisicao.id">
                {{ requisicao.equipamento?.nome }}
              </ng-option>
            </ng-select>
            <div class="invalid-tooltip" *ngIf="equipamentoId?.touched && equipamentoId?.invalid">
              <span *ngIf="equipamentoId?.errors?.['required']">O equipamento precisa ser preenchido. </span>
              <span *ngIf="equipamentoId?.errors?.['minlength']">O nome do equipamento precisa ter no mínimo 3 letras. </span>
            </div>
          </div>
        </div>                  

      <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary col-md-3"
          (click)="modal.dismiss('fechar')">Cancelar</button>
        <button type="submit" class="btn btn-primary col-md-3" [disabled]="this.form.invalid">Gravar</button>
      </div>
    </form>
  </ng-template>

</body>
 